[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atlassian-python-api = "3.41.11"
langchain = "*"
ibm-generative-ai = "*"
backoff-utils = "*"
flask = "*"
flask-jwt-extended = "*"

[dev-packages]
ipykernel = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-pylint = "*"
pytest-mypy = "*"
types-requests = "*"

[requires]
python_version = "3.12"

[scripts]
# pipenv run tests
tests = "pytest -v"
